<HTML>
<HEAD>
	<link rel="stylesheet" href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap.css">
        <link href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ const.MEDIA_URL }}bootstrap/css/docs.css" rel="stylesheet">
        <link href="{{ const.MEDIA_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="{{ const.MEDIA_URL }}bootstrap/js/html5shiv.js"></script>
        <![endif]-->

<TITLE> 
    Brian Fincher Investment Method
</TITLE>
</HEAD>

<BODY BGCOLOR="white">

<CENTER>
<div class="row-fluid">
<div class="span2"></div>
<div class="span8">
<TABLE class="table table-striped table-bordered table-hover" >
<TR>
<TH> Date </TH>
<TH> Price </TH>
<TH> 4 Days </TH>
<TH> 18 Days </TH>
<TH> Buy/Sell </TH>
</TR>


{% for entry in entries %} 
	<TR>
		<TD>{{ entry.date }}</TD>
		<TD>{{ entry.price }}</TD>
		<TD>{{ entry.fourDays }}</TD>
		<TD>{{ entry.eighteenDays }}</TD>
		
		{% if entry.buySell == "Buy" %}
			<TD BGCOLOR=GREEN>{{ entry.buySell }}</TD>
		{% elif entry.buySell == "Sell" %} 			
			<TD BGCOLOR=RED> {{ entry.buySell }}</TD>
		{% endif %}
		<!-- <TD>{{ entry.buySell }}</TD> --> 
	</TR>
{% endfor %}

</TABLE>
</div>
<div class="span2"></div>
</div>
</CENTER>

</BODY>
</HTML>
